.boxcounseling {
    /* max-width: 124rem;
    margin: 0 auto; */
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.cardcounseling {
    width: 27rem;
    margin: 3rem;
    padding: 2rem;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
}

.card-img-top-counseling {
    width: 22.5rem;
    height: 19.5rem;
}

.btn-primary-counseling {
    padding: 0.5rem;
    border: 1px solid black;
}