    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        height: 100%;
        font-family: 'math';
        font-weight: 300;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        background: #fff;
        overflow-x: hidden;
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Alegreya Sans', sans-serif;
    }

    h1 {
        font-size: 3em;
        line-height: 1.2em;
        margin: 0 0 .8em;
    }

    h2 {
        font-size: 1.8em;
        line-height: 1.4em;
        margin: 0 0 .8em;
    }

    h3 {
        font-size: 1.4em;
        line-height: 1.4em;
    }

    h4 {
        font-size: 1.25em;
        line-height: 1.4em;
    }

    h5 {
        font-size: 1.1em;
        line-height: 1.4em;
    }

    h6 {
        font-size: 1em;
        line-height: 1.2em;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        text-decoration: none;
    }

    p {
        padding: 0 0 1em;
        margin: 0;
    }

    a {
        color: #227191;
        outline: 0;
        font-weight: bold;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    a:hover {
        text-decoration: none;
        color: #1f2222;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .banner {
        background-image: url(../images/rmnew.png);
        position: relative;
        top: -80px;
        height: auto !important;
        width: 100% !important;
        padding-top: 80px;
    }

    .is-sticky .navbar-default {
        /* background: rgb(233 223 88 / 87%); */
        background: -webkit-linear-gradient(left, #3931af, #00c6ff) 87.5%;
        padding: 15px 0;
        border-bottom: 1px solid #0044ff;
    }

    .headback {
        border-radius: 20px;
        margin: 140px 0 120px 0;
    }

    .headloc {
        width: auto;
    }

    #menu-sticky-wrapper {
        z-index: 2;
        position: relative;
    }

    .overlay {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }

    #menu {
        z-index: 999;
    }

    .navbar-default {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        padding: 15px 0;
        border-top: 1px solid #007bff;
    }

    .navbar-brand :before {
        background-color: #1f96e0;
    }

    .navbar-default .navbar-brand {
        padding: 7px;
    }

    .navbar-default .navbar-nav>li>a {
        font-family: math;
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        /* text-shadow: #ff9393 0.5px 0.5px; */
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #e6e6e6;
        text-shadow: #000000 1px 1px;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        background: transparent;
        color: #000000;
    }

    .dropdown-menu {
        color: black;
        background-color: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .dropdown-menu :hover {
        background-color: #000000b2;
    }

    .dropdown-menu>li>a {
        font-weight: bold;
    }

    .btn-default {
        font-size: 17px;
        margin: 30px 0 10px;
        margin-right: 10px;
        line-height: 20px;
        padding: 15px 35px;
        height: 50px;
        border: 2px solid #0062cc;
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        transition: all 0.4s;
        color: -webkit-linear-gradient(left, #3931af, #00c6ff);
        border-radius: 10px;
    }

    .btn-loc {
        color: wheat;
    }

    #searchInput {
        padding: 8px;
        margin-bottom: 10px;
        width: 200px;
    }

    /* .btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
	border: 2px solid #6699e1;
	background: #6699e1;
	color: rgb(255, 255, 255);
} */

    .btn-primary {
        font-size: 17px;
        margin: 30px 0 10px;
        margin-right: 10px;
        line-height: 20px;
        padding: 15px 35px;
        height: 50px;
        /* border: 2px solid #1f96e0; */
        background: #ffffff;
        transition: all 0.4s;
        color: #0062cc;
        border-color: -webkit-linear-gradient(left, #3931af, #00c6ff);
        border-radius: 10px;
        border: 2px solid;
    }

    /* .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	border: 2px solid rgb(255, 255, 255);
	background: transparent;
	color: #ffffffcb;
} */

    .btn-secondary {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        padding: 20px 50px;
        height: 65px;
        border: none;
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        transition: all 0.4s;
        color: white;
        border-radius: 4px;
    }

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active,
    .open>.dropdown-toggle.btn-secondary {
        background: #1f96e0;
        color: white
    }

    .site-name img {
        width: 210px;
        margin-top: -18px;
        height: 66px;
    }

    .logo {
        margin: 80px 0 100px 0;
    }

    .logo img {
        width: 150px;
        height: 37px
    }

    .landing .wow {
        font-size: 56px;
        font-weight: bold;
        color: #edb8d2;
        font-family: math;
        margin: 44px 0 20px 0;
        text-shadow: 0 -6px 7px rgb(92 85 94);
    }

    .landing-text {
        margin-bottom: 20px;
    }

    .landing-text p {
        color: #ffffff;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .logoMain {
        height: 68px;
        width: 75px;
    }

    .more {
        margin-bottom: 100px;
    }

    .more p {
        font-size: 17px;
    }

    .head-btn {
        margin-bottom: 40px;
    }

    .option {
        text-transform: uppercase;
        padding: 5px;
        min-width: 80px;
        margin-right: 5px;
        transition: all 0.4s;
        font-size: 14px;
        color: #fff;
    }

    .option .fa {
        font-size: 16px;
        margin-right: 10px;
    }

    .option:hover {
        color: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .header-phone {
        margin: 0px 0px 0px 216px;
        height: 58rem;
    }

    #intro {
        padding: 82px 0px;
    }

    #intro2 {
        padding: 0px 0px;
    }

    #intro h2 {
        font-size: 40px;
        font-weight: 300;
        margin: 15px 0 15px 0;
    }

    .intro-pic {
        margin-top: 20px;
    }

    .btn-section {
        padding-top: 20px;
    }

    #feature {
        padding: 80px 0;
        background: #1f96e0cb;
        color: #202020;
    }

    #feature h2 {
        margin: 15px 0 15px 0;
        font-size: 40px;
        font-weight: 300;
    }

    #feature .feature-title p {
        font-size: 18px;
    }

    #features {
        padding: 80px 0;
    }

    #features .fa {
        border: 1px solid #1f96e0cb;
        width: 64px;
        height: 64px;
        color: #1f96e0cb;
        text-align: center;
        padding: 21px;
        font-size: 22px;
        border-radius: 50%;
    }

    .row-feat {
        padding-top: 50px;
    }

    .feat-list {
        margin-top: 40px;
    }

    .feat-list i {
        font-size: 48px;
        float: left;
        width: 20%;
        color: #FFF;
        height: 100%;
        position: relative;
        opacity: 0.6;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        top: 10px;
    }

    .feat-list:hover i {
        color: #2FEE7B;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    #feature .inner {
        float: left;
        display: inline-block;
        width: 80%;
    }

    #feature-2 {
        padding: 100px 0 100px;
    }

    #feature-2 h2 {
        font-size: 40px;
        font-weight: 300;
        margin: 15px 0 15px 0;
    }

    .feature-2-pic {
        height: 100%;
        width: 50%;
        margin-top: 20px;
    }

    .subscribe {
        color: #fff;
    }

    .letter {
        margin-top: 100px;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 50px;
        color: #1f96e0cb;
        border-radius: 5px;
        border: solid 1px #1f96e0;
        border-radius: 50%;
        font-size: 34px !important;
        padding-top: 30px;
    }

    .subscribe p {
        margin: 30px auto 30px;
    }

    .subscribe-form {
        max-width: 400px;
        margin: 50px auto 150px;
        text-align: center;
        overflow: hidden;
    }

    .subscribe-form form {
        position: relative;
    }

    .subscribe-form input {
        max-width: 85%;
        position: relative;
        padding: 5px 25px;
    }

    .subscribe-form .form-control {
        border-radius: 4px 0 0 4px;
        border: none;
        background-color: rgba(255, 255, 255, 0.6);
        color: #333;
        font-size: 1.2em;
        height: 55px;
    }

    .subscribe-form button {
        border-radius: 0 4px 4px 0;
        background-color: #1f96e0cb;
        color: #ffffff;
        font-size: 1em;
        line-height: 52px;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 30px;
        margin: 0;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .subscribe-form .btn {
        height: 55px;
    }

    .subscribe-form .btn:hover {
        background-color: #1f96e0;
        color: #fff;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .subscribe-form .form-control::-webkit-input-placeholder {
        color: #333;
    }

    .subscribe-form .form-control:-moz-placeholder {
        color: #333;
    }

    .subscribe-form .form-control::-moz-placeholder {
        color: #333;
    }

    .subscribe-form .form-control:-ms-input-placeholder {
        color: #333;
    }

    #screenshot {
        padding-top: 100px;
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .title-line {
        width: 100px;
        height: 3px;
        margin: 0 auto;
        background: #ffffffcb !important;
    }

    .screenshots {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .screenshots .screen {
        background: transparent;
        color: white;
        padding: 10px;
        margin: 13px;
        display: block;
    }

    .screenshots .screen img {
        width: 100%;
        border-radius: 4px;
        border: solid 3px #dadada;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .screenshots .screen img:hover {
        border: solid 3px #1f96e0;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .modal-backdrop.in {
        background-color: #000;
    }

    .ekko-lightbox .modal-content {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }

    .ekko-lightbox .modal-header {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .ekko-lightbox .modal-header .close {
        -webkit-opacity: 0.7;
        -moz-opacity: 0.7;
        opacity: 0.7;
        color: #fff;
        text-shadow: 0;
        font-weight: 100;
        margin-top: 5px;
    }

    .ekko-lightbox .modal-header .close:hover {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    .ekko-lightbox .modal-header h4.modal-title {
        font-weight: 100;
        color: #fff;
        padding: 0;
    }

    .ekko-lightbox .modal-body {
        padding: 0;
    }

    .ekko-lightbox .modal-footer {
        -webkit-opacity: 0.9;
        -moz-opacity: 0.9;
        opacity: 0.9;
        border: 0;
        color: #fff;
        font-weight: 100;
        padding: 0;
    }

    .ekko-lightbox-nav-overlay a {
        -webkit-opacity: 0.9;
        -moz-opacity: 0.9;
        opacity: 0.9;
        text-shadow: none;
    }

    #client {
        background: #f6f6f6;
        padding: 70px 0 70px;
    }

    #client img {
        max-height: 50px;
        margin: 0 20px;
        opacity: 1;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    #client img:hover {
        opacity: 0.7;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    #clients {
        padding: 100px 0 15px;
        background-color: #F6F6F6;
    }

    .clients-item {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 30px;
    }

    .clients-item .box {
        margin-right: 15px;
        margin-left: 15px;
    }

    .clients-item .box .message {
        padding: 20px;
        font-style: italic;
        line-height: 30px;
        font-weight: 300;
        font-size: 18px;
    }

    .clients-item .client-pic img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        max-width: 100%;
        border: 1px solid #E9E9E9;
    }

    .clients-item .client-info .client-name {
        margin-top: 10px;
        font-size: 16px;
    }

    .clients-item .client-info .company {
        font-style: italic;
        color: #1f96e0cb;
    }

    .owl-theme .owl-controls .owl-page span {
        background: black;
    }

    .action {
        color: #fff;
    }

    .action h2 {
        font-size: 40px;
        font-weight: 300;
    }

    .download-store {
        padding: 50px 0 130px;
    }

    .download-store li {
        display: inline-block;
        list-style: none;
        margin-left: 10px;
    }

    .appstorebutton {
        height: 65px;
        width: 195px;
        position: relative;
        border-radius: 4px;
    }

    .iphone {
        background: #1f96e0cb;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .iphone:hover {
        background-color: #1f96e0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .android {
        background: #555;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .android:hover {
        background-color: #444;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .appstorebutton a {
        color: white;
        text-decoration: none;
    }

    .appstorebutton p {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        color: white;
        padding: 10px 0 0 65px;
        line-height: 1;
    }

    .appstorebutton p small {
        font-size: 16px;
    }

    .appstorebutton i {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px 0 0 17px;
        font-size: 40px;
    }

    #footer {
        background: #fff;
        padding: 50px 0 50px;
    }

    .social ul {
        padding: 0;
        list-style: none;
    }

    .social li {
        display: inline-block;
        padding-right: .3em;
    }

    .social li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #020E13;
        border-radius: 5px;
        background: #fff;
        border: solid 1px #020E13;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        border-radius: 50%;
    }

    .social li a:hover {
        color: #fff;
        background: #020E13;
    }

    .scrollToTop {
        width: 40px;
        height: 40px;
        padding: 5px;
        font-size: 30px;
        text-align: center;
        color: rgb(2, 154, 255);
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    .scrollToTop:hover {
        color: #1f96e0cb;
    }

    .control-group .controls {
        overflow-x: hidden;
    }

    .downloadSection {
        padding: 100px 0;
    }

    .subscribe {
        color: #fff;
    }

    .subscribe p {
        margin: 30px auto 30px;
    }

    .subscribe-form {
        max-width: 400px;
        margin: 50px auto 150px;
        text-align: center;
        overflow: hidden;
    }

    .subscribe-form form {
        position: relative;
    }

    .subscribe-form input {
        max-width: 85%;
        position: relative;
        padding: 5px 25px;
    }

    .subscribe-form .form-control {
        border-radius: 4px 0 0 4px;
        border: none;
        background-color: rgba(255, 255, 255, 0.6);
        color: #333;
        font-size: 1.2em;
        height: 55px;
    }

    .subscribe-form button {
        border-radius: 0 4px 4px 0;
        background-color: #1f96e0cb;
        color: #040F13;
        font-size: 1em;
        line-height: 52px;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 30px;
        margin: 0;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .subscribe-form .btn {
        height: 55px;
    }

    .subscribe-form .btn:hover {
        background-color: #1f96e0;
        color: #fff;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
    }

    .subscribe-form .form-control::-webkit-input-placeholder {
        color: #333;
    }

    .subscribe-form .form-control:-moz-placeholder {
        color: #333;
    }

    .subscribe-form .form-control::-moz-placeholder {
        color: #333;
    }

    .subscribe-form .form-control:-ms-input-placeholder {
        color: #333;
    }

    #package {
        padding-top: 100px;
    }

    .title-line {
        width: 100px;
        height: 3px;
        margin: 0 auto;
        background: #6699e1b2;
    }

    .price-box {
        background-color: #F3F3F3;
        border-radius: 15px;
    }

    .package-option {
        padding: 50px 0 100px;
    }

    .package-option ul {
        padding: 0;
    }

    .price-heading h3 {
        margin-top: 0;
        background-color: #7B7B7B;
        color: #fff;
        padding: 15px;
        border-radius: 30px;
        margin: 25px;
        font-size: 18px;
        position: relative;
        top: -27px;
        border: #fff 5px solid;
    }

    .price-heading i {
        color: #d1d1d1;
        font-size: 75px;
        margin-top: 20px;
    }

    .price-group {
        padding: 30px 0 10px;
    }

    .price-group .dollar {
        font-size: 20px;
        position: relative;
        bottom: 48px;
    }

    .price-group .price {
        color: #202020;
        font-size: 60px;
        font-weight: 500;
    }

    .price-group .time {
        font-size: 18px;
    }

    .price-feature li {
        margin-left: 30px;
        margin-right: 30px;
        list-style: none;
        border-bottom: solid 1px #d1d1d1;
        line-height: 40px;
        padding: 10px 0;
    }

    .btn-price {
        margin: 5px 0 15px;
        font-size: 17px;
        padding: 7px 35px;
        height: 40px;
        background: #1f96e0;
        transition: all 0.4s;
        color: rgb(32, 32, 32);
        border-radius: 4px;
    }

    .btn-price:hover {
        background: #202020;
        color: white;
    }

    /* iPads (portrait) ----------- */

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        .more {
            margin-bottom: 50px;
        }

        #intro {
            padding: 30px 0 50px;
        }

        #intro h2,
        #feature-2 h2 {
            font-weight: 150;
            text-align: center;
        }

        #intro p,
        #feature-2 p {
            text-align: center;
        }

        .btn-section {
            text-align: center;
        }

        #feature {
            padding-top: 75px;
        }

        .row-feat {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        #feature-2 {
            padding: 80px 0 100px;
        }

        .feature-2-pic {
            margin-top: 40px;
        }

        #client img {
            margin: 10px 0 10px;
            max-height: 40px;
        }
    }

    /* iPads (landscape) ----------- */

    @media only screen and (min-width: 416px) and (max-width: 650px) and (orientation: landscape) {
        .clients-item {
            margin-left: -1.25rem;
        }

        .storyindex {
            margin: 0 auto !important;
            max-width: 59rem !important;
        }
    }

    @media only screen and (min-width: 700px) and (max-width: 767px) and (orientation: landscape) {
        .clients-item {
            margin-left: 5rem;
        }
    }

    @media (min-width: 768px) {
        .nav li a {
            position: relative;
            display: block;
            padding: 18px 13px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .logo {
            margin: 100px 0 30px 0;
        }

        .landing h1 {
            margin: 60px 0 60px 0;
        }

        .landing-text {
            margin: 60px 0 40px 0;
        }

        .more {
            margin-bottom: 180px;
        }

        .header-phone {
            margin-top: 125px;
        }

        .intro-pic {
            margin-top: 100px;
        }

        .feature-img {
            margin-top: 30px;
        }

        .feat-list {
            margin-top: 10px;
        }

        .feat-list p {
            font-size: 15px;
        }

        .feature-2-pic {
            margin-top: 50px;
        }

        #client img {
            max-height: 45px;
        }
    }

    /* smart-phone ----------- */

    @media (max-width: 767px) {
        .logo {
            margin: 40px 0 30px 0;
        }

        .more {
            margin-bottom: 40px;
        }

        #intro {
            padding: 70px 0 70px;
        }

        #intro h2,
        #feature-2 h2 {
            font-weight: 150;
            text-align: center;
        }

        #intro p,
        #feature-2 p {
            text-align: center;
        }

        .btn-section {
            text-align: center;
        }

        .feat-list i {
            padding-left: 40px;
        }

        .feature-2-pic {
            margin-top: 50px;
        }

        #client img {
            margin: 10px 0 10px;
        }
    }

    @media only screen and (min-width: 1200px) and (max-width: 1400px) and (orientation: landscape) {
        .container {
            width: 125rem !important;
        }

        .boxstory {
            padding-inline: 7rem;
        }
    }

    @media only screen and (min-width: 993px) and (max-width: 1199px) and (orientation: landscape) {
        .container {
            width: 921px !important;
        }
    }

    @media only screen and (min-width: 648px) and (max-width: 768px) and (orientation: landscape) {
        .logo {
            margin: 30px 0 30px 0;
        }

        .landing h1 {
            font-size: 50px;
            margin: 10px 0 25px 0;
        }

        .landing-text {
            margin-top: 20px;
        }

        .letter {
            margin-top: 75px
        }

        .subscribe p {
            margin: 25px auto 15px;
        }

        .subscribe-form {
            margin: 20px auto 100px;
        }

        .action h2 {
            margin-top: 70px;
        }

        .download-store {
            padding: 20px 0 100px;
        }

        .headback {
            width: 39rem;
        }

        .owl-item {
            width: 329px !important;
        }
    }

    /* iPhone 6 (landscape) ----------- */

    @media (max-width: 667px) {
        .logo {
            margin: 30px 0 30px 0;
        }

        .landing h1 {
            font-size: 50px;
            margin: 10px 0 25px 0;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 38px;
        }

        .clients-item .box2 {
            margin-right: 0px;
            margin-left: -68px;
        }

        .clients-item .box .message {
            line-height: 25px;
            font-size: 18px;
            width: 27rem;
        }

        .clients-item .box3 {
            margin-right: 0rem;
            margin-left: 0rem;
        }

        .landing-text {
            margin-top: 20px;
        }

        .letter {
            margin-top: 75px
        }

        .subscribe p {
            margin: 25px auto 15px;
        }

        .subscribe-form {
            margin: 20px auto 100px;
        }

        .action h2 {
            margin-top: 70px;
        }

        .download-store {
            padding: 20px 0 100px;
        }
    }

    /* iPhone 5 (landscape) ----------- */

    @media (max-width: 568px) {
        .clients-item .box {
            margin-right: 0px;
            margin-left: 0px;
        }

        .img-responsive {
            display: block;
            max-width: 40rem;
            height: auto;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 30rem;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 38px;
        }

        .clients-item .box2 {
            margin-right: -4px;
            margin-left: 228px;
        }

        /* .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        } */
        .clients-item .box .message {
            line-height: 25px;
            font-size: 18px;
            width: 27rem;
        }

        .clients-item .box3 {
            margin-right: -5rem;
            margin-left: 37rem;
        }

        .logo {
            margin: 15px 0 15px 0;
        }

        .landing h1 {
            font-size: 40px;
            margin: 20px 0 10px 0;
        }

        .landing-text p {
            font-size: 16px !important;
        }

        #intro {
            padding-top: 50px;
        }

        #feature {
            padding-top: 50px;
        }

        .feat-list i {
            padding-left: 20px;
        }

        #feature-2 {
            padding: 50px 0 70px;
        }

        #screenshot {
            padding-top: 70px;
        }

        .screenshots {
            padding-top: 30px;
            padding-bottom: 70px;
        }

        #clients {
            padding: 70px 0 70px;
        }

        .action h2 {
            margin: 50px 0 20px;
        }

        .download-text p {
            line-height: 1.5;
        }

        .download-store {
            padding: 10px 0 70px;
        }
    }

    @media (max-width: 511px) {
        .clients-item .box {
            margin-right: 0px;
            margin-left: 0px;
        }

        .img-responsive {
            display: block;
            max-width: 40rem;
            height: auto;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 30rem;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 38px;
        }

        .clients-item .box2 {
            margin-right: -4px;
            margin-left: 125px;
        }

        /* .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        } */
        .clients-item .box .message {
            line-height: 25px;
            font-size: 18px;
            width: 27rem;
        }

        .clients-item .box3 {
            margin-right: -5rem;
            margin-left: 172px;
        }

        .logo {
            margin: 15px 0 15px 0;
        }

        .landing h1 {
            font-size: 40px;
            margin: 20px 0 10px 0;
        }

        .landing-text p {
            font-size: 16px !important;
        }

        #intro {
            padding-top: 50px;
        }

        #feature {
            padding-top: 50px;
        }

        .feat-list i {
            padding-left: 20px;
        }

        #feature-2 {
            padding: 50px 0 70px;
        }

        #screenshot {
            padding-top: 70px;
        }

        .screenshots {
            padding-top: 30px;
            padding-bottom: 70px;
        }

        #clients {
            padding: 70px 0 70px;
        }

        .action h2 {
            margin: 50px 0 20px;
        }

        .download-text p {
            line-height: 1.5;
        }

        .download-store {
            padding: 10px 0 70px;
        }
    }

    /* iPhone 4 (landscape) ----------- */

    @media (max-width: 480px) {
        .feat-list i {
            padding-left: 5px;
        }

        .action h2 {
            font-size: 30px;
        }

        .btn-primary {
            margin: 30px 0 10px;
            margin-right: 15px;
            padding: 15px 20px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 38px;
        }

        .clients-item .box2 {
            margin-right: -4px;
            margin-left: 125px;
        }

        /* .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        } */
        .clients-item .box .message {
            line-height: 25px;
            font-size: 18px;
            width: 27rem;
        }

        .clients-item .box3 {
            margin-right: -5rem;
            margin-left: 172px;
        }
    }

    @media (min-width:385px) and (max-width:441px) {
        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 38px;
        }

        .clients-item .box2 {
            margin-right: -4px;
            margin-left: 59px;
        }

        .clients-item .box .message {
            line-height: 25px;
            font-size: 18px;
            width: 27rem;
        }

        .clients-item .box3 {
            margin-right: -5rem;
            margin-left: 62px;
        }
    }

    /* smart phone width: 360px ----------- */

    @media (max-width: 385px) {
        .landing .wow {
            font-size: 42px;
            font-weight: bold;
            color: #edb8d2;
            font-family: math;
            margin: 44px 0 20px 0;
            text-shadow: 0 -6px 7px rgb(92 85 94);
        }

        .clients-item .box .message {
            width: 31rem;
        }

        .clientMobileRes {
            height: 300px !important;
        }

        .img-responsive {
            display: block;
            max-width: 32rem;
            height: auto;
        }

        .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 26px;
        }

        .clients-item .box2 {
            margin-right: 0px;
            margin-left: 15px;
        }

        .clients-item .box3 {
            margin-right: 0px;
            margin-left: 28px;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 29rem !important;
        }

        #clients {
            padding: 70px 0 0px;
        }

        .owl-item {
            width: 354px !important;
        }

        #intro h2,
        #feature h2,
        #feature-2 h2 {
            font-size: 30px;
        }

        .feat-list i {
            padding-left: 0;
        }

        #feature .inner {
            padding-left: 15px;
        }

        .appstorebutton {
            margin-bottom: 15px;
        }

        .download-store li {
            margin-left: 0;
        }

        .grid {
            gap: 4rem !important;
        }
    }

    @media (max-width: 371px) {
        .landing .wow {
            font-size: 42px;
            font-weight: bold;
            color: #edb8d2;
            font-family: math;
            margin: 44px 0 20px 0;
            text-shadow: 0 -6px 7px rgb(92 85 94);
        }

        .clients-item .box .message {
            width: 28rem;
        }

        .clientMobileRes {
            height: 300px !important;
        }

        .img-responsive {
            display: block;
            max-width: 32rem;
            height: auto;
        }

        .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 16px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 26px;
        }

        .clients-item .box2 {
            margin-right: 19px;
            margin-left: -18px;
        }

        .clients-item .box3 {
            margin-right: 0px;
            margin-left: -19px;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 29rem !important;
        }

        #clients {
            padding: 70px 0 0px;
        }

        .owl-item {
            width: 354px !important;
        }

        #intro h2,
        #feature h2,
        #feature-2 h2 {
            font-size: 30px;
        }

        .feat-list i {
            padding-left: 0;
        }

        #feature .inner {
            padding-left: 15px;
        }

        .appstorebutton {
            margin-bottom: 15px;
        }

        .download-store li {
            margin-left: 0;
        }

        .grid {
            gap: 4rem !important;
        }
    }

    @media (max-width: 340px) {
        .landing .wow {
            font-size: 42px;
            font-weight: bold;
            color: #edb8d2;
            font-family: math;
            margin: 44px 0 20px 0;
            text-shadow: 0 -6px 7px rgb(92 85 94);
        }

        .clients-item .box .message {
            width: 28rem;
        }

        .clientMobileRes {
            height: 300px !important;
        }

        .img-responsive {
            display: block;
            max-width: 32rem;
            height: auto;
        }

        .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 16px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 26px;
        }

        .clients-item .box2 {
            margin-right: 19px;
            margin-left: -17px;
        }

        .clients-item .box3 {
            margin-right: 0px;
            margin-left: -33px;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 29rem !important;
        }

        #clients {
            padding: 70px 0 0px;
        }

        .owl-item {
            width: 354px !important;
        }

        #intro h2,
        #feature h2,
        #feature-2 h2 {
            font-size: 30px;
        }

        .feat-list i {
            padding-left: 0;
        }

        #feature .inner {
            padding-left: 15px;
        }

        .appstorebutton {
            margin-bottom: 15px;
        }

        .download-store li {
            margin-left: 0;
        }

        .grid {
            gap: 4rem !important;
        }
    }

    @media (max-width: 315px) {
        .landing .wow {
            font-size: 42px;
            font-weight: bold;
            color: #edb8d2;
            font-family: math;
            margin: 44px 0 20px 0;
            text-shadow: 0 -6px 7px rgb(92 85 94);
        }

        .clients-item .box .message {
            width: 31rem;
        }

        .clientMobileRes {
            height: 300px !important;
        }

        .img-responsive {
            display: block;
            max-width: 32rem;
            height: auto;
        }

        .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: 3px;
        }

        .clients-item .box2 {
            margin-right: 0px;
            margin-left: -23px;
        }

        .clients-item .box3 {
            margin-right: 0px;
            margin-left: -54px;
        }

        .storyindex {
            margin: 0 auto;
            max-width: 29rem !important;
        }

        #clients {
            padding: 70px 0 0px;
        }

        .owl-item {
            width: 354px !important;
        }

        #intro h2,
        #feature h2,
        #feature-2 h2 {
            font-size: 30px;
        }

        .feat-list i {
            padding-left: 0;
        }

        #feature .inner {
            padding-left: 15px;
        }

        .appstorebutton {
            margin-bottom: 15px;
        }

        .download-store li {
            margin-left: 0;
        }

        .grid {
            gap: 4rem !important;
        }
    }

    /* iPhone 4/5 (portrait) ----------- */

    @media (max-width: 320px) {
        .landing .wow {
            font-size: 30px;
            font-weight: bold;
            color: #edb8d2;
            font-family: math;
            margin: 44px 0 20px 0;
            text-shadow: 0 -6px 7px rgb(92 85 94);
        }

        .clients-item .box {
            margin-right: 0px;
            margin-left: 0px;
        }

        .clients-item .box1 {
            margin-right: 0px;
            margin-left: -10px;
        }

        .clients-item .box2 {
            margin-right: 0px;
            margin-left: -77px;
        }

        .clients-item .box .message {
            padding: 0 19px;
            margin: 0 -0.1rem;
            font-style: italic;
            line-height: 30px;
            font-weight: 300;
            font-size: 18px;
        }

        .clients-item .box3 {
            margin-right: 0px;
            margin-left: -147px;
        }

        .logo {
            margin: 30px 0 20px 0;
        }

        .landing h1 {
            margin: 20px 0 35px 0;
        }

        .more {
            text-align: center;
        }

        .more p {
            font-size: 14px;
        }

        .option {
            padding: 3px;
            min-width: 75px;
            margin-right: 2px;
        }

        .btn-default {
            font-size: 16px;
            margin: 30px 0 10px;
            padding: 15px 30px;
            height: 35px;
            border-radius: 80px;
        }

        .btn-primary {
            font-size: 16px;
            margin: 30px 0 10px;
            margin-right: 15px;
            padding: 15px 20px;
            height: 35px;
            border-radius: 80px;
        }

        .subscribe-form {
            margin: 50px auto 110px;
        }

        .subscribe-form input {
            padding: 5px 15px;
        }

        .subscribe-form button {
            padding: 0 15px;
        }

        .action h2 {
            margin: 70px 0 20px;
        }

        .grid {
            gap: 3rem !important;
        }
    }

    .h1banner {
        text-align: center;
    }

    :root {
        --heading: rgb(0 10 45);
        --para: #777;
        --para-tint: #e4e4e4;
        --white: #fff;
        --black: #212529;
        --helper: #8490ff;
        --overlay: #3e64ff;
        --helper-tint: #eeeef7;
        --bg: #e8f4fc;
        --icons-bg: rgba(144, 172, 209, 0.2);
        --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
        --gradientSupport: -webkit-linear-gradient(0deg, rgb(166, 88, 255) 0%, rgb(98 189 252) 100%);
        --gradientSupport2: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
        --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
        --icon-bg: rgba(144, 172, 208, 0.2);
    }

    /* ==========================
      work data section start 
    =========================== */

    .section-work-data {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        /* background: var(--gradientSupport2); */
        text-align: center;
        transition: all 0.7s linear;
        color: var(--white);
    }

    .counter-numbers {
        font-size: 4.8rem;
    }

    .section-work-data p {
        color: var(--white);
        text-transform: capitalize;
    }

    .section {
        padding: 4rem 0;
    }

    .grid-four-column {
        grid-template-columns: repeat(4, 1fr);
        /* repeat(times, how much) */
    }

    .container {
        max-width: 140rem;
        margin: 0 auto;
    }

    .grid {
        display: grid;
        gap: 9rem;
        justify-content: space-evenly;
    }

    .storyTitle {
        color: wheat;
    }

    @media (min-width: 768px) {
        .nav>li>a {
            position: relative;
            display: block;
            padding: 14px 8px;
        }

        .navbar-default .navbar-nav>li>a {
            font-family: math;
            font-size: 14px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            /* text-shadow: #ff9393 0.5px 0.5px; */
        }

        .owl-item {
            width: 418px !important;
        }

        .feature-2-pic {
            height: 100%;
            width: 100%;
            margin-top: 20px;
        }
    }

    @media only screen and (min-width: 294px) and (max-width: 585px) and (orientation: landscape) {
        .storyindex {
            max-width: 30rem !important;
        }
    }

    .locfile {
        margin-top: 16rem;
    }